<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PYLoanWallet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E81BB02A1F53041000A7B57A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E81BB0431F53041000A7B57A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E81BB04E1F53041000A7B57A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
